.hole{
    text-align: center;
    justify-content: center;
    padding-top: 5%;
    background-color:#ed7e28;
    color:white;
    border-radius: 20px;
    width: 60vh;
    height: 50vh;
    margin-top: 10%;
    margin-left: 35%;
    font-family:cursive;
}

input{
    height: 25px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    text-align: center;
    
}

